In [70]:
print("Hello, World")

Hello, World

In [ ]:
name = "Hadassa"

:

In [72]:
age = 21
age2 = 20

In [73]:
age2 = "21"

In [74]:
dev= True
#Boolean

In [75]:
type(name)

str

In [76]:
type(age)

int

In [77]:
type(age2)

str

In [78]:
type(dev)

bool

In [79]:
height= 1.72

In [80]:
type(height)

float

In [ ]:
Operações com variáveis

In [ ]:
print(name)

Morgana

In [ ]:
number1= 35
number2= 20
35+20

55

In [ ]:
35-20

15

In [ ]:
35*20

700

In [ ]:
35/20

1.75

In [ ]:
age1 = 21
age2 = 20
21+20

41

In [ ]:
21-20

1

In [ ]:
21*20

420

In [ ]:
21/20

1.05

In [ ]:
age1 + 10
#Adição

31

In [82]:
age1 - 15
#subtração

6

In [83]:
age1 * 4
#multiplicação

84

In [84]:
age1/ 5
#divisão

4.2

In [ ]:
Operações múltiplas:

In [86]:
2 *(21+20)

82

In [87]:
2 * 21 + 3 * 20/4

57.0

In [88]:
(2 * 21 + 3 * 20) / 4

25.5

In [ ]:
Outros operadores
#Exponenciação

In [89]:
20 ** 2

400

In [90]:
15 ** 2

225

In [ ]:
#Parte inteira

In [91]:
20 // 21

0

In [92]:
21 / 20

1.05

In [93]:
20 % 21
#Módulo %

20

In [ ]:
Concatenação de variáveis

In [94]:
nome = 'Morgana'
sobrenome = 'Souza'

In [ ]:
Printar os resultados

In [98]:
print(nome + sobrenome)

MorganaSouza

In [99]:
print('olá, ' , nome, 'voce tem ' , age1 + 15, 'anos. ')

olá,  Morgana voce tem  36 anos.

In [ ]:
Quebra de linha '\n'

In [ ]:
input("Digite o seu nome: ")